<connectionStrings>
  <clear />
  
  <add name="Default"
       providerName="System.Data.SqlClient"
       connectionString="Server=SERVER;Database=DATABASE;uid=USER;pwd=PASSWORD;"/>

  <add name="Other"
       providerName="System.Data.SqlClient"
       connectionString="Server=SERVER;Database=DATABASE;uid=USER;pwd=PASSWORD;"/>

  <myElement name="test"></myElement>
  
</connectionStrings>